<%= simple_form_for @task do |f| %>
  <%= f.input :title %>
  <%= f.input :deadline, as: :datetime_picker %>
  <% if params[:action] == 'edit' %>
    <%= f.input :completed %>
  <% end %>
  <%= f.input :tags, as: :array %>
  <button class="add-tag-button btn btn-default">Add more tags</button>
  <%= f.button :submit %>

<% end %>
