<%= simple_form_for @task do |f| %>
  <%= f.input :title %>
  <%= f.input :deadline, as: :datetime_picker %>
  <% if params[:action] == 'edit' %>
    <%= f.input :completed %>
  <% end %>
  <%= f.input :tags, as: :array, input_html: { class: 'form-control', placeholder: 'More tags...' } %>
  <%= select_tag "previous-tags", options_for_select(@all_tags, ''), {prompt: 'Quick add a tag', class: 'form-control', style: 'width: auto; margin-bottom: 20px;'} %>
  <%= f.input :notes %>

<!--   <button class="add-tag-button btn btn-default" style="margin-bottom: 25px;">Add more tags</button> -->
  <%= f.button :submit, class: 'btn btn-danger' %>

<% end %>

<style>
  li.picker-switch > table > tbody > tr > td > a[data-action="today"] > span:after {
    content: '  Go to today';
    font-family: 'Roboto';
  }

  li.picker-switch > table > tbody > tr > td > a[data-action="clear"] > span:after {
    content: '  Disable deadline';
    font-family: 'Roboto';
  }

  .task_tags label {
    display: block;
  }

  .task_tags input {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 120px;
    display: inline;
  }
</style>
