<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed/On-going/Overdue</th>
      <th>Deadline</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <tr id="task_<%= task.id %>">
        <td><%= link_to task.title, task %> </td>
        <td data-order="<%= completed_link_data_order(task) %>" data-search="<%= completed_link_text(task) %>">
          <% if completed_link_text(task) == 'Completed' or completed_link_text(task) == 'On-going' %>
            <%= link_to completed_link_text(task),
            toggle_completed_task_path(task),
            :remote => true, id: "completed_link_#{task.id}", class: completed_link_text(task) %>
          <% else %>
            <div class="Overdue">Overdue</div>
          <% end %>
        </td>
        <td data-order="<%= task.deadline ? task.deadline.to_i : Float::INFINITY%>"><%= task.deadline ? task.deadline.strftime('%B %d, %Y %H:%M') : "No deadline" %></td>
        <td><%= !task.tags.empty? ? task.tags.join(", ") : "No tag" %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %> | <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


