<div id="notifications" style="display: none;">
	<p id="notice"><%= notice %></p>
	<p id="alert"><%= alert %></p>
</div>



<div class="container vertical-center" id="main">
	<h1 class="display-4" id="title-display" style="color: #f9f9f9">Today is <%= Date::DAYNAMES[Date.today.wday] %>.

		<%= @tasks_today_ongoing.zero? ? "You've finished all the tasks!": "You've got " + pluralize(@tasks_today_ongoing, 'task') + " left today!"  %>

	</h1>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

		<!-- panel 1 - TODAY TASKS -->
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading-today-tasks">
			  <h4 class="panel-title">
			    <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-today-tasks" aria-expanded="true" aria-controls="collapse-today-tasks">
			      Today tasks
						<div style="display:inline-block; width:30px" class="badge badge-info" id="badge-noti-today">
			           <%= @tasks_today_ongoing %>
			      </div>
			    </a>
			  </h4>
			</div>
		  <div id="collapse-today-tasks" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-today-tasks">
		    <div class="panel-body">
		      <%= render 'table', tasks: @tasks_today %>
		    </div>
		  </div>
		</div>

		<!-- panel 2 - OTHER TASKS -->
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading-other-tasks">
			  <h4 class="panel-title">
			    <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-other-tasks" aria-expanded="false" aria-controls="collapse-other-tasks">
			      Other tasks
			      <div style="display:inline-block; width:30px" class="badge badge-info" id="badge-noti-other">
			           <%= @tasks_other_ongoing %>
			      </div>
			    </a>
			  </h4>
			</div>
		  <div id="collapse-other-tasks" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-other-tasks">
		    <div class="panel-body">
		      <%= render 'table', tasks: @tasks_other %>
		    </div>
		  </div>
		</div>

		<!-- panel 3 - NEW TASK -->
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading-new-task">
			  <h4 class="panel-title">
			    <a class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-new-task" aria-expanded="false" aria-controls="collapse-new-task">
			      New task
			    </a>
			  </h4>
			</div>
		  <div id="collapse-new-task" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-new-task">
		    <div class="panel-body">
		      <%= render 'form', action: 'new', task: @task %>
		    </div>
		  </div>
		</div>

	</div><!-- panel-group -->




</div><!-- container -->

