<div class="show-page">
  <div id="notifications" style="display: none;">
  	<p id="notice"><%= notice %></p>
  	<p id="alert"><%= alert %></p>
  </div>

  <p>
    <strong>Title:</strong>
    <%= @task.title %>
  </p>

  <p>
    <strong>Completed/On-going/Overdue:</strong>
    <%= completed_link_text(@task) %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= @task.deadline ? @task.deadline.strftime('%B %d, %Y %H:%M') : "No deadline" %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= !@task.tags.empty? ? @task.tags.join(", ") : 'No tag' %>
  </p>

  <p>
    <strong>Notes:</strong>
    <br>
    <div style="width: 100%; border: 1px solid #333; padding: 20px;">
      <%= @task.notes ? @task.notes.html_safe : 'No note' %>
    </div>
  </p>

</div>
